<div class="card">
  <div class="card-body">
    <h6 class="text-center">Lista de estudiantes</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let estudiante of listaEstudiante">
          <td>{{estudiante.nombres}}</td>
          <td>{{estudiante.apellidos}}</td>
          <td><a class="btn btn-primary text-white" (click)="onEdit(estudiante)">
            <i class="fa fa-edit"></i>
            Editar</a>
            <a class="btn btn-danger text-white" (click)="onDelete(estudiante.key)">
              <i class="fa fa-trash"></i>
              Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
